.sample-data-label {
    transform: rotate(-45deg);
    position: absolute;
    right: -38px;
    bottom: 20px;
    padding: 10px;
    background-color: #06F;
    color: white;
    text-transform: uppercase;
    width: 150px;
    font-size: 12px;
    text-align: center;
}