.selector-energy {
    margin-bottom: 10px;
}
.energy-gauge {
    .gauge-face-container {
        margin-left: auto;
        margin-right: auto;
    }
}
.energy-widget {
    .no-budget-data {
        font-size: 3em;
        opacity: 0.5;
        text-align: center;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
}
.carbon-footprint {
    padding: 10px 50px;
    .profile-image-container {
        background-color: transparent !important;
    }
    .cf-grid {
        .data-grid-column {
            border: none !important;
        }
        .item-card {
            padding: 5px;
            //    justify-content: center;
            .title {
                font-size: 2.1em;
                font-weight: 200;
            }
            .content {
                padding: 0px;
            }
        }
    }
}

.energy-budget-widget-config-panel {
    width: 60vw;
    height: auto;

    & > .row {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    & > .button-row {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        & > .uxp-button {
            margin: 5px;

            &.save {
                &.active {
                    background-color: #52c4c9;
                    color: white;
                }
            }
        }
    }
}
.u-tt {
    background-color: rgba(0,0,0,.5);
    border-radius: 5px;
    padding:10px;
    color:white;
    display: flex;
    div {
        margin-right:10px;
    }
}

.uxp-sample-data-label{
    text-transform: capitalize;
}


.energy-widget{ 

    .chart-responsive, .chart-resp-pie {
        display: inline-block;
        width: 100%; 
    } 

    &.w-large{
        .chart-responsive { 
            height: 98%;
        }
        .chart-resp-pie{ 
            height: 99%;
        }
    }

    &.w-small{
        .carbon-footprint { 
            .data-grid{ 
                 .data-grid-column{  
                    
                        .item-card{
                            // display: inline-block;
                            .item-card-image-container{
                                // position: inherit;
                                // top: 0;
                                // left: 35%;
                                // transform: inherit;
                                // width: 100%;
                                // height: auto;
                                // text-align: center;
                                // display: inline-block;
                            }
                            .content{
                                // margin-left: 0;
                                // width: 100%;
                                // display: inline-block;
                                // text-align: center;

                                .title{
                                    font-size: 1.1em;
                                }
                                .sub-title{
                                    font-size: 9px;
                                }
                            }
                        }
                     
                 }
             }
         } 

         .chart-responsive { 
            height: 220px;
        }

        .chart-resp-pie{ 
            height: 260px;
        }
    }
}

