.selector-energy {
    margin-bottom: 10px;
}
.energy-gauge {
    .gauge-face-container {
        margin-left: auto;
        margin-right: auto;
    }
}
.carbon-footprint {
    padding: 10px 50px;
    .profile-image-container {
        background-color: transparent !important;
    }
    .cf-grid {
        .data-grid-column {
            border: none !important;
        }
        .item-card {
            padding: 5px;
            //    justify-content: center;
            .title {
                font-size: 2.4em;
                font-weight: 200;
            }
            .content {
                padding: 0px;
            }
        }
    }
}

.energy-budget-widget-config-panel {
    width: 60vw;
    height: auto;

    & > .row {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    & > .button-row {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        & > .uxp-button {
            margin: 5px;

            &.save {
                &.active {
                    background-color: #52c4c9;
                    color: white;
                }
            }
        }
    }
}
